body {
  background-color: #fcfaf0;
  margin: 0;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;

  text-align: center;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0rem;
}
.p2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.img_logo {
  border-radius: 100%;
  height: 93px;
  width: 93px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}
a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  color: #000000;
  text-decoration-color: #a481f9;
}
/* section 1 */
.img_logo_2 {
  border-radius: 100%;
  height: 329px;
  width: 329px;
}
button {
  background-color: #f1d0b1;
  color: #ffffff;
  border: none;
  height: 81px;
  width: 234px;
}

.section_1 {
  display: flex;
  gap: 20rem;
  margin: 11rem;
  flex-direction: row;
  align-items: center;
}
.contenu_1 h1 {
  margin-bottom: 0;
}
.contenu_1 .p1 {
  margin-top: 0;
  margin-bottom: 4rem;
}

/* section2 */
.section_2 h2 {
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-decoration: underline;
  text-decoration-color: #a481f9;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card1 {
  height: 200px;
  width: 300px;
}

/* section3 bouton commander */
.commander {
  background-color: #a481f9;
}
.commander .p1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  color: #ffffff;
  padding-top: 5rem;
}
.commander button {
  margin-left: auto;
  display: block;
  margin-right: auto;
}
.button_commander {
  padding-bottom: 3rem;
}
/* section4 */
.section_4 h2 {
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-decoration: underline;
  text-decoration-color: #a481f9;
}
.section_4 .p2 {
  margin: 3rem;
  text-align: justify;
}
/* section 5 reseaux */
.section_5 h2 {
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-decoration: underline;
  text-decoration-color: #a481f9;
}
.card_reseaux {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10rem;
  margin-right: 10rem;
}
.card_reseaux img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.card_reseaux div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
/* section6 Contactez-nous */
.section_6 h2 {
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-decoration: underline;
  text-decoration-color: #a481f9;
}
.section_6 .p2 {
  margin: 8rem;
  text-align: justify;
}
.bold {
  font-weight: 600;
  font-size: 20px;
}
/* footer */
footer .reseaux img {
  width: 70px;
  height: 60px;
  color: #a481f9;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 6rem;
  height: 238px;
  background-color: #f1d0b1;
  margin: 0rem;
}
.reseaux {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

/* nouvelle pages menu */
.menu_texte {
  width: 1087px;
  margin: auto;
  padding-bottom: 2rem;
}
.menu div {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.menu img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 100%;
}
.menu {
  background-color: #ffffff;
  border: 3px solid #f3a5dd;
  width: 1087px;
  height: 1514px;
  margin: auto;
}
.menu h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-color: #a481f9;
}
.menu .p1 {
  text-align: center;
  margin: 2rem;
}
.menu .p2 {
  text-align: center;
}

/* page contact */
.carte {
  width: 828px;
  height: 714px;
}
.adress_map {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.adress {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-left: 7rem;
}

/* modification responsive /mobile media querry */
/* 1024px */
@media screen and (max-width: 1110px) {
}
/* 991px */
@media screen and (max-width: 991px) {
}

/* 768px */
@media screen and (max-width: 768px) {
}
/* 650px */
@media screen and (max-width: 650px) {
}

/* 550px */
@media screen and (max-width: 550px) {
}
