body {
  background-image: url("../Me/images/hexagon_1920.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.fond {
  background-color: rgba(179, 247, 246, 0.7);
  width: 1000px;
  height: 620px;
  display: flex;
  margin-top: 9vh;
  justify-content: center;
  align-items: center;
}
.card_QR {
  background-color: #ffffff;
  width: 312px;
  height: 500px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.QR {
  width: 283px;
  height: 283px;
  border-radius: 15px;
}
h1 {
  text-align: center;
  font-family: "Outfit Semi Bold", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
p {
  text-align: center;
  font-family: "Outfit Regular", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* media querry for desktop */
@media screen and (max-width: 1024px) {
  .fond {
    background-color: rgba(179, 247, 246, 0.7);
    width: 900px;
    height: 600px;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: #b3f7f6;
  }
  .fond {
    background-color: rgba(179, 247, 246, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
  }
  .card_QR {
    background-color: #ffffff;
    width: 312px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .QR {
    width: 283px;
    height: 283px;
    border-radius: 15px;
  }
  h1 {
    text-align: center;
    font-family: "Outfit Semi Bold", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  p {
    text-align: center;
    font-family: "Outfit Regular", sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
